/*
**************************************************************
This theme is the default shipping theme, it includes some
decent defaults, but is separate from the calendar component
to make it easier for users to implement their own themes w/o
having to override as much.
**************************************************************
*/

/* Header */

.calendar-view .header,
.calendar-view .dayList .day {
	background-color: #f0f0f0;
}

.calendar-view .header .periodLabel > div {
	font-size: 1.5em;
}

.calendar-view .header button {
	color: #7f7f7f;
}

.calendar-view .header button:disabled {
	color: #ccc;
	background-color: #f7f7f7;
}

/* Grid */

.calendar-view .day.today {
	background-color: #ffe;
}

.calendar-view .day.past {
	background-color: #fafafa;
}

.calendar-view .day.outsideOfMonth {
	background-color: #f7f7f7;
}

/* Events */

.calendar-view .event {
	border-color: #e0e0f0;
	border-radius: 0.5em;
	background-color: #e7e7ff;
}

.calendar-view .event.purple {
	background-color: #f0e0ff;
	border-color: #e7d7f7;
}

.calendar-view .event.orange {
	background-color: #ffe7d0;
	border-color: #f7e0c7;
}

.calendar-view .event.continued::before,
.calendar-view .event.toBeContinued::after {
	content: " \21e2 ";
	color: #999;
}

.calendar-view .event.toBeContinued {
	border-right-style: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.calendar-view .event.hasUrl:hover {
	text-decoration: underline;
}

.calendar-view .event.continued {
	border-left-style: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.calendar-view .week .event {
	text-overflow: ellipsis;
}

/* Event Times */

.calendar-view .event .startTime,
.calendar-view .event .endTime {
	font-weight: bold;
	color: #666;
}

/* Drag and drop */

.calendar-view .day .content.draghover {
	border: 0.2em solid yellow;
}
