/*
**************************************************************
This theme is the default shipping theme, it includes some
decent defaults, but is separate from the calendar component
to make it easier for users to implement their own themes w/o
having to override as much.
**************************************************************
*/

/* Header */

.cv-header,
.cv-header-day {
	background-color: #f0f0f0;
}

.cv-header .periodLabel > div {
	font-size: 1.5em;
}

.cv-header button {
	color: #7f7f7f;
}

.cv-header button:disabled {
	color: #ccc;
	background-color: #f7f7f7;
}

/* Grid */

.cv-day.today {
	background-color: #ffe;
}

.cv-day.past {
	background-color: #fafafa;
}

.cv-day.outsideOfMonth {
	background-color: #f7f7f7;
}

/* Events */

.cv-event {
	border-color: #e0e0f0;
	border-radius: 0.5em;
	background-color: #e7e7ff;
	text-overflow: ellipsis;
}

.cv-event.purple {
	background-color: #f0e0ff;
	border-color: #e7d7f7;
}

.cv-event.orange {
	background-color: #ffe7d0;
	border-color: #f7e0c7;
}

.cv-event.continued::before,
.cv-event.toBeContinued::after {
	content: " \21e2 ";
	color: #999;
}

.cv-event.toBeContinued {
	border-right-style: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.cv-event.hasUrl:hover {
	text-decoration: underline;
}

.cv-event.continued {
	border-left-style: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Event Times */

.cv-event .startTime,
.cv-event .endTime {
	font-weight: bold;
	color: #666;
}

/* Drag and drop */

.cv-day.draghover {
	box-shadow: inset 0 0 0.2em 0.2em yellow;
}
